.banner-video body {
  margin: 0;
  padding: 0;
  background: #333;
  background-attachment: fixed;
  display: flex;
  font-family: Montserrat, sans-serif;
}

#video-background {
  z-index: 102;
  margin-left: 0px;
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100%;
}

.banner-video .vid-content {
  z-index: 103;
  position: absolute;
  top: 45%;
  width: 100%;
  margin-top: -45px;
}

.banner-video h1 {
  font-size: 42px;
  color: #FCFAF0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

.banner-video p {
  font-size: 21px;
  color: #FCFAF0;
  text-align: center;
  font-family: Montserrat, sans-serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

.banner-video span {
  font-size: 42px;
  color: #FCFAF0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  text-decoration-line: underline;
  text-decoration-color: #008CA3;
}

.row {
  text-align: center;
  margin-top: 35px;
}



