// Import page-specific CSS files here.
@import "home";
@import "banner_video";
@import "banner_middle";
@import "banner_bottom";
@import "recipes_show";
@import "recipe_book";
@import "dashboard";

.main-content {
  margin-top: 10px;
}

.row {
  text-align: center;
}

.round-image-lg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px auto;
}

.round-image-sm {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
