.nutrient-label {
    line-height: 17px;
    // font-size: 14px;
    text-align: right;
    padding-right: 5px;
}

.nutrient-amount {
    line-height: 17px;
    // font-size: 14px;
    text-align: left;
    padding-left: 5px
}

.progress-title{
    line-height: 17px;
    // font-size: 14px;
    text-align: center;
}

.progress {
    height: 17px;
    margin-bottom: 7px;
    background-color: #008CA3
}

.progress-bar {
    height: 17px;
    position: absolute;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.nutrient-progress-percentage-label{
  text-align: center;
  line-height: 17px;
  font-size: 13px;
  overflow: hidden;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.no-padding{
  padding: 0px;
}

.no-left-padding{
  padding-left: 0px;
}

.links {
  display: inline;
}

.btn-add {
    border: 1.2px solid #008CA3;
    margin: 5px;
    color: #008CA3;
    border-radius: 100px;
}

.btn-minus {
    float: right;
    margin-top: -22px;
    margin-right: -6px;
    cursor: pointer;
    color: #008CA3;
    border: 1px solid #008CA3;
    border-radius: 50%;
    font-size: 12px;
    display: inline-block;
    line-height: 0px;
    padding: 11px 6.7px;
}

.slider.slider-horizontal {
    width: 310px;
    height: 20px;
}

.no-bottom-padding {
  padding-bottom: 0px;
  background: #FCFAF0;
}

.slider-selection {
  background: #8CB9BF;
}

.slider-handle {
  background: #008CA3;
}

.panel-break {
  padding: 50px;
}

.control-label {
  font-weight: normal;
  font-size: 15px;
}
.padding-top{
  padding-top: 8px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.btn-nutrient-info {
    font-size: 12px;
    padding: 0px 7px;
    border-radius: 50%;
}

.popover {
  font-size: 12px;
}

.hr-less-padding {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
 }


.recipe-title__dog {
  text-decoration-line: underline;
  text-decoration-color: #008CA3;
}

 body {
  font-size: 16px;
 }



