<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <h1>Build your recipe</h1>
    <div class="recipe-builder">
      <%= render "shared/create_dog_form" %>
    </div>
  </div>
</div>
