<div class="nested-fields">
  <%= f.association :ingredient %>
  <%= f.input :amount %>
  <%= button_tag "Add Ingredient", :type => 'button', :id => "add_ingredient" %>
  <%= link_to_remove_association "Remove this ingredient", f %>
</div>
