<div class="nested-fields">

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= f.input :ingredient_id, collection: Ingredient.all, input_html: { class: 'ingredient_name' } %>
      </div>
      <div class="col-sm-1">
        <%= f.input :amount, input_html: { class: 'ingredient_amount' }  %>
      </div>
      <div class="col-sm-1">
        <%= link_to_remove_association "Remove", f, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

</div>
