<div class="nested-fields">
  <%= f.input :ingredient_id, collection: Ingredient.all, input_html: { class: 'ingredient_name' } %>
  <%= f.input :amount, input_html: { class: 'ingredient_amount' }  %>
  <%= link_to_remove_association "Remove this ingredient", f %>
</div>
