<div class="nested-fields">
  <div class="panel" style="background-color: white;">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-11">
          <%= f.input :ingredient_id, label: false, collection: @ingredients, input_html: { class: 'ingredient_name' } %>
        </div>
        <div class="col-sm-1 no-padding">
          <%= link_to_remove_association "-", f, class: 'btn btn-danger' %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.input :amount, label: false, as: :slider, placeholder: 'Amount', input_html: { class: 'ingredient_amount' } %>
        </div>
      </div>
    </div>
  </div>

</div>

