<% content_for(:title_tag) do %>
  HealthyPaws | find and create recipes for your dog's needs!
<% end %>
<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3>Browse Recipes</h3>
    </div>

    <div class="panel-body">


      <div class="search">
        <%= form_tag recipes_path, :method => :get do %>
          <input type="hidden" name="search" value="true">
            <label>Filter by ingredient:</label>
            <select type="search" name="ingredient">
                <option></option>
                <% Ingredient.find_each do |ingredient| %>
                  <option><%= ingredient.name %></option>
                <% end %>
            </select>
            <button>Search</button>
        <% end %>
      </div>
      <br>
      <div class="row row-cards">

        <%= render "shared/cards_browse" %>
      </div>





    </div>
  </div>
</div>

