<% content_for(:title_tag) do %>
  HealthyPaws | Find your dog's next favorite recipe
<% end %>
<div class="container">
<div class="row">
  <div class="col-sm-12">
  <div class="panel">
    <div class="panel-body">
      <h3><strong>FIND YOUR DOG'S NEXT FAVORITE RECIPE</strong></h3>

    <div class="search">
        <%= form_tag recipes_path, :method => :get do %>
          <input type="hidden" name="search" value="true">
            <label>Filter by ingredient:</label>
            <select type="search" name="ingredient">
                <option></option>
                <% Ingredient.find_each do |ingredient| %>
                  <option><%= ingredient.name %></option>
                <% end %>
            </select>
            <button>Search</button>
        <% end %>
      </div>
      </div>
  </div>
  </div>

<div class="row">
  <div class="col-sm-12">
  <div class="panel">
    <div class="panel-body">

      <div class="row row-cards">

        <%= render "shared/cards_browse" %>
      </div>

</div>
</div>
</div>



    </div>
  </div>
</div>

