.card--image {
  height: 40vh;
  width: 100%;
}

.cards {
  height: 75vh;
  width: auto;
}

.banner-middle
.panel--card {
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  justify-items: space-around;
  width: auto;
}


