.card--image {
  height: 250px;
  width: 100%;
}

.card--image-sm {
  height: 125px;
  width: 100%;
}

.cards {
  height: 75vh;
  width: auto;
}

.banner-middle
.panel--card {
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  justify-items: space-around;
  width: auto;
}

.panel--card {
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  justify-items: space-around;
  width: auto;
  height: 425px;

}

.panel--card-sm {
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  justify-items: space-around;
  width: auto;
}
