.card--image {
  width: 100%;
}

.banner-middle
.panel--card {
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  justify-items: space-around;

  p {
    color: #555;
    font-style: italic;
  }
}
