// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
}
