<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

<div class="banner-video">
  <div class="vid-content">

    <div class="vid-content__overlay">
      <h1>Feed your furry friend what fits them best</h1>
      <p>Create complete and balanced recipes customized to your dog's nutritional needs</p>

      <div class="row">
        <div class="col-xs-12 text-center col-sm-3 col-sm-offset-3 btn-cta" >
        <a href="#recipe-builder" class="btn btn-info" role="button">Try building a recipe</a>
        </div>
        <div class="col-xs-12 text-center col-sm-3 btn-cta">
        <a href="#latest-recipes" class="btn btn-info" role="button">Browse our recipes</a>
        </div>
      </div>
    </div>
  </div>

  <video autoplay loop id="video-background" muted plays-inline>
    <source src="https://res.cloudinary.com/tanjamiee/video/upload/v1503465708/cute_puppy_on_beach_ynck7y.mp4" type="video/mp4">
  </video>
</div>

