<div id="browse-recipe" class="banner-middle" style="background-image: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(223,186,105,0.26) 0%), url('http://res.cloudinary.com/tanjamiee/image/upload/v1503465702/girl_and_dog_mountain_yajath.jpg');">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
    <div class="middle-content">
      <h1>Browse our newest recipes
        <br>
        <br>
        <span>
         <%= button_to 'See more recipes', recipes_path, class: "btn" %>
        </span></h1>
    </div>
</div>
