<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
<a name="recipe-builder"></a>
<div class="banner-bottom" style="background-image: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(223,186,105,0.26) 0%),url('http://res.cloudinary.com/tanjamiee/image/upload/v1503465692/goldie_with_humans_rjtpqp.jpg');">


    <div class="bottom-content">
      <h1 class="section-title">Build your recipe</h1>

      <%= render "shared/create_dog_form" %>

    </div>
</div>
