<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

<div class="banner-video">
  <video autoplay loop id="video-background" muted plays-inline>
    <source src="http://res.cloudinary.com/tanjamiee/video/upload/c_crop,h_650,w_1920/v1503465708/cute_puppy_on_beach_ynck7y.mp4" type="video/mp4">
  </video>

  <div class="vid-content">
    <h1>Feed your furry friend <span>what fits them best</span></h1>
    <p>Create complete and balanced recipes customized to your dog's nutritional needs</p>

    <div class="row-action-button">
      <a href="/recipes/new" class="btn btn-gold" role="button">Build a recipe</a>
    </div>
  </div>
</div>


