
<div class="banner-bottom" style="background-image:url('http://res.cloudinary.com/tanjamiee/image/upload/v1503465692/goldie_with_humans_rjtpqp.jpg');">
    <h1>Build your recipe</h1>
      <div class="recipe-builder">
        <%= render "shared/create_dog_form" %>
      </div>
</div>




