  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

<div class="banner-video">
  <div class="vid-content">

    <div class="vid-content__overlay">
      <h1>Feed your furry friend what fits them best</h1>

      <div class="row">
        <div class="col-xs-12 text-center col-sm-3 col-sm-offset-3 btn-cta" >
          <%= button_to 'Try our recipe builder', "#", class: "btn" %>
        </div>
        <div class="col-xs-12 text-center col-sm-3 btn-cta">
          <%= button_to 'Browse our recipes', "#", class: "btn" %>
        </div>
      </div>
    </div>
  </div>

  <video autoplay loop id="video-background" muted plays-inline>
    <source src="https://res.cloudinary.com/tanjamiee/video/upload/v1503465708/cute_puppy_on_beach_ynck7y.mp4" type="video/mp4">
  </video>
</div>

