<div class="cards">
  <div class="container">
    <div class="row">
      <% if @recipes.blank? %>
       <p>No recipes to show</p>
       <% else %>
        <% @recipes.last(3).each do |recipe| %>
          <%= link_to recipe do %>
            <div class="col-xs-12 col-sm-4">
              <div class="panel panel--card">
                <div class="panel-body">
                  <div class="text-center">
                    <%= card_image recipe %>
                  </div>
                  <h4 class="recipe-name">
                    <%= recipe.name %>
                  </h4>
                  <p class="recipe-ingredients">
                    Includes: <%= recipe.doses.first(2).map{ |dose| dose.ingredient.name }.join(', ') %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
