<div class="banner-middle" style="background-image: url('http://res.cloudinary.com/tanjamiee/image/upload/v1503465702/girl_and_dog_mountain_yajath.jpg');">
<h1>Browse our newest recipes</h1>
<%= button_to 'See more recipes', recipes_path, class: "btn btn-primary" %>
</div>
