<h1>Dashboard</h1>
<p></p>

<h2>Dog Profile</h2>
<% if @dogs.blank? %>
  <p>You have not added a dog yet</p>
    <% else %>
    <% @dogs.each do |dog| %>
      <%= link_to lense do %>
      <% end %>
    <% end %>
<% end %>

<h2>Nutrition Profile</h2>
<% @nutrients.each do |nutrient| %>
  <p><%= nutrient.split('_')[0...-1].join(' ').titlecase %>: <%= @nutrition_req[nutrient] %> <%= nutrient.split('_')[-1].downcase %>
  </p>
<% end %>

<h2>Recipe Book</h2>


