<h1>Recipe Book</h1>

<% @recipes.each do |recipe| %>
<p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
<% end %>

<p></p>
<h3><%= link_to "Build a New Recipe", new_recipe_path %></h3>

<p></p>
<h1>Favorites Placeholder</h1>


<!-- How to link the name of each recipe to the recipe -->


