

.footer-copyright {
font-family: Montserrat-SemiBold;
font-size: 15px;
color: #DFBA69;
}

.footer {
  background: #FCFAF0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: #DFBA69;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #DFBA69;
  opacity: 0.8;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 20px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #DFBA69;


}
