
// /* if_Social-01-Facebook-Outline_1243572: */
// opacity: 0.8;
// background: #DFBA69;
// /* if_Social-32-Instagram-Outline_1243557: */
// opacity: 0.8;
// background: #DFBA69;
// /* if_Social-02-Twitter-Outline_1243573: */
// opacity: 0.8;
// background: #DFBA69;
/* Made with love by JJ: */
.footer-copyright {
font-family: Montserrat-SemiBold;
font-size: 20px;
color: #DFBA69;
}

.footer {
  background: #FCFAF0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: #DFBA69;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #DFBA69;
  opacity: 0.8;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 20px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #DFBA69;

}
