/* Rectangle 5: */
.footer {
background: #FCFAF0;
border: 1px solid #FCFAF0;
/* Sniff us out on soci: */
font-family: Montserrat-SemiBold;
font-size: 20px;
color: #DFBA69;
}

// /* if_Social-01-Facebook-Outline_1243572: */
// opacity: 0.8;
// background: #DFBA69;
// /* if_Social-32-Instagram-Outline_1243557: */
// opacity: 0.8;
// background: #DFBA69;
// /* if_Social-02-Twitter-Outline_1243573: */
// opacity: 0.8;
// background: #DFBA69;
/* Made with love by JJ: */
.footer-copyright {
font-family: Montserrat-SemiBold;
font-size: 20px;
color: #DFBA69;
}

