.create-dog-background{
  background-image: url(create_dog_icon.png);
  background-repeat: repeat repeat;
}

.create-recipe-background{
  background-image: url(create_recipe_icon2.png);
  background-repeat: repeat repeat;
}
