.create-dog-background{
  background-image: asset-url('create_dog_icon.png');
  background-repeat: repeat repeat;
}

.create-recipe-background{
  background-image: asset-url('create_recipe_icon2.png');
  background-repeat: repeat repeat;
}

.profile-background{
  background-image: asset-url('profile_icon.png');
  background-repeat: repeat repeat;
}

.recipe-show-background{
  background-image: asset-url('recipe_show_icon.png');
  background-repeat: repeat repeat;
}

.recipe-book-background{
  background-image: asset-url('recipe_book_icon.png');
  background-repeat: repeat repeat;
}

.recipe-all-background{
  background-image: asset-url('recipe_all_icon.png');
  background-repeat: repeat repeat;
}

.login-background{
  background-image: asset-url('login_icon.png');
  background-repeat: repeat repeat;
}

.signup-background{
  background-image: asset-url('signup_icon.png');
  background-repeat: repeat repeat;
}
